.upload-form
{
    padding:5%;
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(51, 50, 50);
  
}
.form-class
{
    text-align: center;
}
.upload-logo
{
    height: 100px;
    border: 1px solid rgb(179, 176, 176);
    border-radius: 50%;
    margin-bottom: 60px;
}