.nav-link
{
    display: flex;
    align-items: center;
    padding: 12px 25px;
    text-decoration: none;
    color: black;
}
.nav-link span{
   margin-left: 15px;
}
.nav-link:hover{
 
   background: #f7f7f7;
   cursor: pointer;
} 
.active{
  background: #e5e5e5;
  font-weight: bold;
} 
.active:hover{
   background: #e5e5e5;
   font-weight: bold;
 } 