.chip-nav
{
    border-bottom: 1px solid #dbdbdb;
    background: white;
    height: 60px;
    display: flex;
    padding-left: 20px;
    
}
.chip-nav:hover
 {
  overflow-x: scroll;
  max-height: 660px;
 }
 .chip-nav::-webkit-scrollbar
 {
     height: 0px;
 }

